body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #bfbfbf; 
}

header {
  text-align: center; 
  padding: 10px; 
}

hr {
  color: #bfbfbf;
}

.pGenerator {
  background-color: white; 
  padding: 30px; 
  margin-left: 100px; 
  margin-right: 100px; 
  border-radius: 5px;
  z-index: 0
  position: relative; 
}

#password {
  font-family: 'Courier New', Courier, monospace;
  border: dashed 1px #bfbfbf; 
  border-radius: 5px; 
  height: 200px; 
  width: 1300px;
  padding: 10px; 
  text-align: center; 
  color: #bfbfbf; 
  font-size: 20px;
  position: absolute; 
  z-index: 1;
  right: 150px;
  top: 250px;
}

button {
  border-radius: 25px;
  color: white; 
  background-color: #990000; 
  border: none; 
  padding: 10px;
  margin-left: 75px;
}